import { ComponentMeta, ComponentStory } from '@storybook/react'
import React from 'react'

import { {{pascalCase name}} } from '.'

export default {
  title: 'features/components/header/{{pascalCase name}}',
  component: {{pascalCase name}},
  parameters: {  },
  decorators: [
    Story => (
      <div style={ { margin: '3em' } }>
        {Story()}
      </div>
    ),
  ],
} as ComponentMeta<typeof {{pascalCase name}}>

const Template: ComponentStory<typeof {{pascalCase name}}> = (args) => <{{pascalCase name}} {...args}/>

export const Primary = Template.bind({})
// Primary.args = {}
